* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

h1{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
img{
  margin-left: 45%;
  margin-right: 50%;
}
#navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly ;
}
.hero-banner{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url("/images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 28vh;
  margin-bottom: 30px;
}

#about {
  margin-bottom: 30px;
}

















@media only screen and (max-width: 980px){
img{
  margin-left: 37.5%;
  margin-right: 50%;
}
}