* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

h1{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
img{
  margin-left: 45%;
  margin-right: 50%;
}
#navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly ;
}
.hero-banner{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url("/images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 28vh;
  margin-bottom: 30px;
}
#about-h2{
  margin-bottom: 25px;
}
#about {
  margin-bottom: 30px;
}
#work-h2{
  margin-bottom: 25px;
}
#workGrid {
  margin: 0px;
  display: grid;
  grid-template-rows: 500px 500px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "led-lights calculator"
  "pastelcarGame surfingUSA"
  ;
  margin-bottom: 25px;
}
#led-lights {
  grid-area: led-lights;
  background-image: url("/images/02-portfolio-1.jpg");
}
#calculator {
  grid-area: calculator;
  background-image: url("/images/02-portfolio-2.jpg");
}
#pastelCarGame {
  grid-area: pastelcarGame;
  background-image: url("/images/02-portfolio-3.jpg");
}
#surfingUSA {
  grid-area: surfingUSA;
  background-image: url("/images/02-portfolio-4.jpg");
}
.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}
.heading {
  background-color: rgba(255, 255, 255, 0.623);
  padding: 15px;
  height: 50px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #FF6200;}

.heading a{
  text-decoration: none;
}












@media only screen and (max-width: 980px){
img{
  margin-left: 37.5%;
  margin-right: 50%;
}
#workGrid {
  margin: 0px;
  display: grid;
  grid: template columns 1px;
  grid-template-rows: 500px 500px 500px 500px;
  grid-template-columns: 100%;
  grid-template-areas:
  "led-lights" 
  "calculator"
  "pastelcarGame" 
  "surfingUSA"
  ;
  margin-bottom: 25px;
}
}